
/*
*{
    border: 1px solid red;
}
*/

body{
    font: 15px/1.5 Helvetica, Arial, sans-serif;
    padding: 0;
    margin:0;
    background-color:#f4f4f4;
}
/* Global Styles*/
.container{
    width:80%;
    margin: auto;
    overflow:hidden;
}
ul{
    margin: 0;
    padding: 0;
}

/* Header Styles*/
header{
    background:#35424a;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#e8491d 3px solid;
}
header h4{
    margin:0;
    padding:0;
}
header button{
    margin-bottom:10px;
}
header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size:16px;
}
header li{
    float: left;
    display:inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float:left;
}
header #branding h1{
    margin:0;
}
header nav{
    float: right;
    margin-top:10px;
}
header .highlight, header .current a, header button{
    color:#e8491d;
    font-weight: bold;
}
header a:hover, header button:hover{
    color:#cccccc;
    font-weight:bold;
}

/* Showcase Styles*/
#showcase{
    min-height: 400px;
    background: url("../img/background_image_coffee_shop_003.jpg") no-repeat 50px;
    text-align: center;
    color: #e8491d;
}
#showcase h1{
    margin-top: 150px;
    font-size: 45px;
    margin-bottom: 0px;
    background-color: white;
    opacity: 0.8;
    border-radius: 10px 10px 0px 0px;
}
#showcase p{
    font-size: 20px;
    background-color: white;
    opacity: 0.8;
    margin-top: 0;
    border-radius: 0px 0px 10px 10px;
}

/* Newsletter Styles*/
#newsletter{
    padding: 15px;
    color: #ffffff;
    background-color: #35424a;
}
#newsletter h1{
    float: left;
}
#newsletter form{
    float: right;
    margin-top:15px;
}
#newsletter input[type="email"]{
    padding:4px;
    height:20px;
    width:250px;
}
.button_1{
    height:38px;
    background:#e8491d;
    border:0;
    padding-left:20px;
    padding-right:20px;
    color:#ffffff;
}

/* Boxes Styles*/
#boxes{
    margin-top:20px;
}
#boxes .box{
    float:left;
    text-align: center;
    width:30%;
}
#boxes .box img{
    width:120px;
}

/* Footer Styles*/
footer{
    padding:5px;
    margin-top:20px;
    color:#ffffff;
    background-color:#e8491d;
    text-align: center;
}




